@import url(http://fonts.googleapis.com/css?family=Asap|Montaga|Ruluko|Rosario);

/****
  global styles
****/
* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #bd6330;
}

nav {
  position: fixed;
  top: 4%;
  left: 4%;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin-bottom: 10px;
  font-family: 'Asap', sans-serif;
}

nav a {
  color: #b4813b;
}

h1 {
  font-weight: 900;
  font-family: 'Asap', sans-serif;
  color: #be4426;
  font-size: 2.2em;
  margin-bottom: 0.8em;
}

h2, strong {
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
}

p {
  line-height: 1.4em;
  margin-bottom: 0.7em;
}

ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 0.5em;
}

/****
  reusable classes
****/
.page-break {
  display: none;
}

.contact > strong {
  font-weight: 500;
}

.dates {
  padding-top: 0.2em;
  font-size: 0.8em;
}

.sub-section {
  margin-bottom: 60px;
}

.sub-section h1 {
  font-size: 1.6em;
}

.sub-section article {
  margin-bottom: 30px;
}

/* TODO add some transitions */
.out-of-view {
  display: none;
}

.out-of-view.left {

}

.out-of-view.right {
}


/****
  main layout
*/
#content {
  position: relative;
  width: 610px;
  margin-top: 40px;
  padding-left: 250px;
  padding-right: 100px;
}

#content > section {
  margin-bottom: 200px;
}

#content > section > article {
  margin-bottom: 100px;
}

